* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  background-color: #17171a;
  color: #b3b3b3;
}

.robot {
  background-image: url("img/robot-default.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: center bottom;
  /* max-height: 800px;
  min-height: 200px; */
  height: 50vh;
  padding-top: 1em;
  margin-top: 1em;
  background-color: #b3b3b3;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.robot-number-field {
  border-radius: 5px;
  text-align: center;
  position: absolute;
  background-color: #17171a;
  margin-left: -55px;
  width: 110px;
  height: 70px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 3px;
}

.bottom {
  display: flex;
  font-weight: 300;
  font-size: 50px;
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.robot-says {
  padding-top: 10px;
  padding-bottom: 10px;
}
.robot-says h1 {
  font-weight: 100;
  font-size: 3em;
  text-align: center;
}

.robot-says p {
  line-height: 0px;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input {
  background-color: transparent;
  caret-color: transparent;
  border: 5px solid #b3b3b3;
  outline: none;
  color: #b3b3b3;
  /* font-size: clamp(60px, 2vw, 102px); */
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  width: 100px;
  margin-right: 2vw;
}

.btn {
  background-color: transparent;
  border: 5px solid #b3b3b3;
  width: 100px;
  font-weight: 700;
  font-size: 20px;
  color: #b3b3b3;
}

.btn:active {
  transform: translateY(3px);
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 18px;
}

.copyright a {
  color: #b3b3b3;
}

.copyright a:hover {
  text-decoration: none;
}

.score {
  text-align: center;
  padding-top: 50px;
}

.score-text {
  font-size: 20px;
}

.number-score {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}
